Source: darkice
Section: sound
Priority: optional
Maintainer: Jochen Friedrich <jochen@scram.de>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9~), libvorbis-dev, libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386], libjack-dev, libtwolame-dev, dh-autoreconf, libpulse-dev, libsamplerate0-dev, libopus-dev, libmp3lame-dev
# dpgk-dev provides /usr/share/dpkg/default.mk.
 ,dpkg-dev (>= 1.16.1),
# Configure tests rely on pkg-config.
 ,pkg-config
Homepage: http://www.darkice.org/

Package: darkice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Suggests: darksnow
Description: Live audio streamer
 DarkIce is an IceCast, IceCast2 and ShoutCast live audio streamer. It
 takes audio input from a sound card, encodes it into mp3 and/or Ogg
 Vorbis, and sends the mp3 stream to one or more IceCast and/or
 ShoutCast servers, the Ogg Vorbis stream to one or more IceCast2
 servers. DarkIce uses lame as a shared object as its mp3 encoder, and
 the Ogg Vorbis as its Ogg Vorbis encoder.
 .
 A legacy SYSV init script is provided for existing
 configurations. You have to set RUN=yes in /etc/default/darkice to
 run darkice as a daemon. With modern systems, this is not needed as
 realtime scheduling is available to normal users.
